main {
	margin-bottom: 50px;
}

header {
	text-align: center;
}

header h1 {
	color: #0077ff;
	margin: 20px 20px 10px;
}

header p {
	font-size: 120%;
	color: grey;
	margin: 10px 10px 25px;
}

hr {
	color: grey;
	border-width: 2px;
}

footer {
	position: absolute;
	top: 0;
	right: 0;
}

footer img {
	width: 24px;
	margin: 5px;
}

footer img:hover {
	opacity: 0.7;
}

footer a {
	text-decoration: none;
}

.option {
	margin: 10px;
}

label {
	display: flex;
	align-items: center;
	margin: 10px;
}

.generator {
	/* border: 1px dashed grey; */
}

.generator h2 {
	margin: 10px;
}
.generator h3 {
	margin: 20px 10px 10px;
}
.generator > .result {
	margin-top: 20px;
	text-align: center;
	overflow-wrap: anywhere;
}
.generator > .length {
	display: flex;
	justify-content: center;
}

.generateButton {
	background-color: #0077ff;
	color: white;
	font-size: 110%;
	font-weight: bold;
	display: inline-block;
	padding: 5px;
	margin: 5px;
	border-radius: 2px;
}

.initialText {
	background-color: #0077ff;
	color: white;
}

/* inputs */
input {
	margin-left: 20px;
	border: 1px solid #0077ff;
	padding: 5px;
	border-radius: 2px;
}

input:focus {
	outline: 2px solid #0077ff;
}

input[type='number'] {
	width: 50px;
}

input[type='range'] {
	writing-mode: bt-lr;
	-webkit-appearance: slider-vertical;
	outline: none;
	margin: unset;
	padding: unset;
}

.resultText {
	display: inline-block;
	padding: 5px;
	background-color: #0077ff;
	color: white;
	margin-left: 20px;
	border-radius: 5px;
}

::selection {
	background-color: pink;
}

.proportions {
	display: flex;
	justify-content: center;
}

.proportion {
	display: flex;
	flex-direction: column;
	align-items: center;
	flex: 1;
	width: 6em;
}

.postProcessor .result {
	margin-left: 10px;
	display: flex;
	align-items: center;
}

.postProcessing > .help {
	color: #0077ff;
	font-size: 80%;
	margin-left: 10px;
}

.generatorAndOccurrences {
	display: flex;
	flex-wrap: wrap;
}

.generatorAndOccurrences > .generator {
	display: flex;
	flex-direction: column;
	align-items: center;
	flex: 1;
}
.generatorAndOccurrences > .occurrences {
	display: flex;
	flex-direction: column;
	text-align: center;
	align-items: center;
	flex: 1;
}
